footer {
    background-color: #7688A1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_link_container a {
    font-size: 14px;
    color: white;
    padding-right: 25px;
}

footer .container .row {
    padding: 12px;
}

.social_img_container {
    display: inline-block;
    width: 25px;
    margin-left: 5px;
    position: relative;
    float: right;
}

.social_img {
    width: 100%;
    height: auto;
}