#social-media-bar {
    text-align: right;
    vertical-align: bottom;
    font-size: 25px;
}

#social-media-bar a {
    text-decoration: none;
    color: black;
}

.fa-facebook-square:hover {
    color: #3B5998;
}

.fa-instagram:hover {
    color: #bc2a8d;
}

.fa-twitter-square:hover {
    color: #1dcaff;
}

.fa-youtube-square:hover {
    color: #cc181e;
}

#mynetwork {
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
    background-color: white;
}