html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.index {
    background-color: #2EBAD3;
}

.news {
    background-color: #465FA8;
}

.partners {
    background-color: #5CA595;
}

.programs {
    background-color: #FFD80E;
}

.tenders {
    background-color: #F2A745;
}

.supporters {
    background-color: #E31E24;
}

.logbook {
    background-color: #56698F;
}