body, html {
    margin: 0;
    padding: 0;
}

#map {
    margin: auto;
    height: 80%;
    width: 60%;
}

h1, h2 {
    font-family: Fira Sans, sans-serif;
    font-style: italic;
    font-size: 22px;
    color: #4F4F4F
}

h1 {
    font-weight: bolder;
    font-size: 36px;
}

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.logo {
    height: 40px;
}

.flag {
    height: 80px;
}

.row {
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
    align-items: center;
}

.row img {
    margin: 0 auto;
    display: block;
}