#navbar #logo-container{
    height: 64px;
    margin-top: 8px;
}

#navbar #logo{
    height: 100%;
    width: auto;
}

.language-selector{
    display: flex;

    width: 10%;
    min-width: 80px;
    float: right;
    height: 100%;
    align-items: center;
}

#navbar .language-img-cont{
    height: 35px;
    width: min-content;
    display: inline-block;
    margin-right: 3px;
}

#navbar .language-img{
    height: 100%;
    width: auto;
    display: inline-block;
    float: left;

}

#navbar ul{
    list-style: none;
    margin: auto;
    height: 100%;
    padding: 0;
    display: inline;
}

#navbar li{
    height: 100%;
    display: inline-grid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#navbar li:hover{
    background-color: #f7f7f7;
}

#navbar{
    height: 100px;
    max-height: 100px;
    padding-left: 8%;
}

#main-supporter-li{
    margin-left: 2%;
    width: 85px;
}

#navbar #main-supporter-container{
    height: 80px;
}

#navbar #main-supporter{
    height: 100%;
    width: auto;
}

#navbar .menu-point{
    height: 40px;
    position: relative;
    width: 97px;

}

#navbar .menu-img{
    height: 100%;
    width: auto;
}

#navbar .menu-li{
    position: relative;
    top: -20px;
    text-align: center;

}

#navbar a{
    text-decoration: none;
    color: black;
}

figcaption{
    text-align: center;
    padding-top: 10px;
}

#news{
    margin-left: 10%;
}

#navbar #dots-img{
    height: 100%;
    width: auto;
    position: relative;
    top:25px;
}

#dots-li{
    position:relative;
    top: -26px;
    margin-left: 2%;
}

#dots-li:hover{
    background-color: white !important;
}

#navbar #dots-cont{
    height: 10px;
    transition-property: height;
    transition-duration: 0.1s;
}

#dots-li:hover #dots-cont{
    height: 12px;
}



#mobile-menu{
    font-size: 28px;
    position: relative;
    top: 23px;
}

#mobile-menu-li{
    position: relative;
    top: -20px;

}

#side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#side-menu a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: lightgray;
    display: block;
    transition: 0.3s;
}

#side-menu a:hover{
    color: white;
}

#side-menu .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

@media (max-width: 1500px) {
    #dots-li{
        margin-left: 0;
    }
}

@media(max-width: 1460px){
    #news{
        margin-left: 1%;
    }
    #navbar{
        padding-left: 0%;
    }
    #main-supporter-li{
        margin-left: 0%;
    }
}

@media (min-width:1180px ) {
    #navbar #mobile-menu-li{
        display: none;
    }
}

@media(max-width: 1180px){
    #navbar .menu-li{
        display: none;
    }
    .language-selector{
        width: 80px;
    }

    #navbar #mobile-menu-li{
        display: inline-grid;
    }
}

@media (max-width: 560px) {
    #navbar #logo-container{
        height:50px;

    }
    #navbar #logo-container-li{
        position: relative;
        top: -20px;
    }

    #navbar #logo{
        position: relative;
        top: 20px;
    }

     #mobile-menu-li:hover{
        background-color: white;
    }
}

@media (max-width: 505px){
    .language-selector{
        display: none;
    }
}

@media (max-width: 450px) {
    #navbar #main-supporter-container{
        height: 50px;
    }
    #navbar #logo-container-li{
        top:0px;
    }
    #navbar{
        height: 80px;
    }

    #mobile-menu{
        top: 26px;
    }


    #navbar #logo{
        position: relative;
        top: 0px;
    }
}



