{% extends 'layout.html' %}
{% block title %}Főoldal - ISTER PRO-INVEST{% endblock %}
{% block imageLocation %}{{ url_for("static", filename="images/carousel/index.png") }}{% endblock %}
{% block firstlineText %}ISTER{% endblock %}
{% block secondlineText %}A Duna 1000 arca{% endblock %}
{% block subpage_class %}index{% endblock %}
{% block subpage_title %}BEMUTATKOZÁS{% endblock %}
{% block content %}
    <div class="content">
        Az Ister Pro Invest Zrt. „ISTER – A DUNA 1000 ARCA” néven egy nemzetközi rendezvénysorozatot kelt életre. A 10
        érintett, dunai országgal összefogva felhívja a figyelmet arra, hogy a Duna közös kincsünk, vizének és
        környezetének megóvása közös ügyünk és érdekünk. A rendezvénysorozat változatos programokkal szólítja meg a
        társadalom minden tagját és felületet biztosít azon
        cégek és civil szervezetek számára, akik hasonló szellemiséggel gondolkodnak és tevékenykednek a Duna és a
        környezetvédelem ügyében.
    </div>
{% endblock %}