<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ISTER PRO-INVEST</title>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/raphael.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
    </head>
    <body>
        <div id="map"></div>
        <div>
            <p id="selected-country"></p>
        </div>
    </body>
</html>