<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISTER PRO-INVEST</title>

    <!-- Imported CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400i,600i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Imported JS files -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js" defer></script>

    <!-- Own CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename = "css/main.css") }}">

    <!-- Custom imports -->
    <link rel="stylesheet" href="{{ url_for('static', filename = "css/map.css") }}">
    <script src="{{ url_for('static', filename = "js/map.js") }}" defer></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <img class="logo" src="{{ url_for('static', filename = "images/logo.png") }}" alt="ISTER-PRO INVEST">
        </div>
        <div class="motto col-12 col-md-8">
            <h1>ISTER</h1>
            <h2>A Duna 1000 arca</h2>
        </div>
    </div>
    <div class="row flags">
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/ausztria.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/bulgar.png") }}">
        </a>
        <a href="{{ url_for('index') }}">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/magyar.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/horvat.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/moldova.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/nemet.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/roman.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/szerbia.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/szlovak.png") }}">
        </a>
        <a href="#">
            <img class="flag" src="{{ url_for('static', filename = "images/flags/ukrajna.png") }}">
        </a>
    </div>
</div>
<div id="map"></div>
</body>
</html>