<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISTER PRO-INVEST</title>

    {% include 'imports.html' %}

    <!-- Custom imports -->
    <link rel="stylesheet" href="{{ url_for('static', filename = "css/map.css") }}">
    <script src="{{ url_for('static', filename = "js/map.js") }}" defer></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <img class="logo" src="{{ url_for('static', filename = "images/logo.png") }}" alt="ISTER-PRO INVEST">
        </div>
        <div class="col-12 col-md-8">
            <h1>A Duna 1000 arca</h1>
            <h2>"Dunán innen, Dunán túl..."</h2>
        </div>
    </div>
</div>
<div id="map"></div>
</body>
</html>