<div id='navbar'>

    <ul>
        <li><a href="#"><div id="logo-container"><img id="logo" src="/static/images/navbar/logo.png" alt=""></div></a></li>
        <li id="main-supporter-li"><a href="#"><div id="main-supporter-container"><img id="main-supporter" src="/static/images/navbar/lorem.png" alt=""></div></a></li>
        <li class="menu-li" id="news">
            <a href="#">
                <div class="menu-point" >
                    <img class="menu-img" src="/static/images/navbar/kek.png" alt="">
                    <figcaption>HÍREK</figcaption>
                </div>
            </a>
        </li>
        <li class="menu-li">
            <a href="#"><div class="menu-point">
                <img class="menu-img" src="/static/images/navbar/zold.png" alt="">
                <figcaption>PARTNEREK</figcaption>
            </div>
            </a>
        </li>
        <li class="menu-li">
            <a href="#"><div class="menu-point">
                <img class="menu-img" src="/static/images/navbar/sarga.png" alt="">
                <figcaption>PROGRAMOK</figcaption>
            </div>
            </a>
        </li>
        <li class="menu-li">
            <a href="#"><div class="menu-point">
                <img class="menu-img" src="/static/images/navbar/narancs.png" alt="">
                <figcaption>PÁLYÁZATOK</figcaption>
            </div>
            </a>
        </li>
        <li class="menu-li">
            <a href="#"><div class="menu-point">
                <img class="menu-img" src="/static/images/navbar/piros.png" alt="">
                <figcaption>TÁMOGATÓK</figcaption>
            </div>
            </a>
        </li>
    </ul>
    <div class="language-selector">

    </div>



    {#<ul>
        <li><a href='{{ url_for('news') }}'>Hírek</a></li>
        <li><a href='{{ url_for('partners') }}'>Partnerek</a>fgdf
        <li><a href='{{ url_for('programs') }}'>Programok</a></li>
        <li><a href='{{ url_for('tenders') }}'>Pályázatok</a></li>
        <li><a href='{{ url_for('supporters') }}'>Támogatók</a></li>
        <li><a href='{{ url_for('contact') }}'>Kapcsolat</a></li>
    </ul>#}
</div>
