<div id="navbar">
    <div class="menu-li mobile-menu-li">
        <div class="menu-point-cont mobile-menu-cont">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <div class="menu-li">
        <div class="menu-logo-cont">
            <img id="logo" src="/static/images/navbar/logo.png" alt="">
        </div>
    </div>
    <div class="menu-li-supp">
        <div class="menu-supp-cont">
            <img id="supp" src="/static/images/navbar/lorem.png" alt="">
        </div>
    </div>
        <div class="menu-li" id="placeholder"></div>
        <div class="menu-li" id="news">
            <figure class="menu-point-cont" id="news-fig">
                <img class="menu-point-img" src="/static/images/navbar/kek.png" alt="">
                <figcaption>HÍREK</figcaption>
            </figure>
        </div>
        <div class="menu-li">
            <figure class="menu-point-cont">
                <img class="menu-point-img" src="/static/images/navbar/zold.png" alt="">
                <figcaption>PARTNEREK</figcaption>
            </figure>
        </div>
        <div class="menu-li">
            <figure class="menu-point-cont">
                <img class="menu-point-img" src="/static/images/navbar/sarga.png" alt="">
                <figcaption>PROGRAMOK</figcaption>
            </figure>
        </div>
        <div class="menu-li">
            <figure class="menu-point-cont">
                <img class="menu-point-img" src="/static/images/navbar/narancs.png" alt="">
                <figcaption>PÁLYÁZATOK</figcaption>
            </figure>
        </div>
        <div class="menu-li">
            <figure class="menu-point-cont">
                <img class="menu-point-img" src="/static/images/navbar/piros.png" alt="">
                <figcaption>TÁMOGATÓK</figcaption>
            </figure>
        </div>

    <div class="menu-li dots-li">
        <div class="menu-point-cont dots">
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>
    <div class="menu-li flags">
        <div class="menu-point-cont flag-cont">
            <img class="flag-img" src="/static/images/navbar/hungarian_icon.png" alt="">
            <img class="flag-img" src="/static/images/navbar/british_icon.png" alt="">
        </div>
    </div>

</div>