{% extends 'layout.html' %}
{% block title %}Híreink - ISTER PRO-INVEST{% endblock %}
{% block imageLocation %}{{ url_for("static", filename="images/carousel/hirek.png") }}{% endblock %}
{% block firstlineText %}Hírek{% endblock %}
{% block subpage_class %}news{% endblock %}
{% block subpage_title %}HÍREINK{% endblock %}
{% block content %}
<div class="content">
    A 2018-19-es tanévben változatos pályázatokat indítunk a dunai országok iskoláiban, óvodáiban, a
Duna világára, a természetre való ráhangolódás jegyében. <br><br>
Célunk: A gyermekek és fiatalok a havonta induló pályázatok kapcsán folyamatosan foglalkozzanak a
Dunával, a Duna mentén kialakult kultúrával, a Duna élővilágával. <br><br>
A gyermekek és az ifjúság értékrendje még könnyen formálható. Pályázati programunkkal
szeretnénk hozzájárulni ahhoz, hogy értékrendjükbe beépüljön a környezettudatos életszemlélet. <br><br>
A pályázatok során ismeretgyűjtésre, alkotásra ösztönözzük a résztvevőket. <br><br>
A pályázatokon túl a programsorozat részét képezik sportesemények, jótékonysági akciók,
tanulmányi és ismeretszerző kirándulások (műanyag-feldolgozó üzemek, víztisztító telepek, hulladék
feldolgozó üzemek stb. szervezett látogatása), és a természetben szerzett élmények egyaránt, a Duna
fókuszpontjára fűzve. <br><br>
Amely iskolai, óvodai csoportok végigkövetik és alkotják az egymást követő feladatokat és az egész
folyamatot dokumentálják, külön díjazni kívánjuk. <br><br>
Az általuk kedvelt alkalmazásokon keresztül (Snapchat, Instagram, Facebook) is tartjuk velük a
kapcsolatot, folyamatosan fenntartjuk az érdeklődésüket
(#selfiadunanal, #kuldjegyhalaskepet, #szeretemadunat, #elolancadunanal)
</div>
{% endblock %}